{% extends 'layout.html' %}
	    
{% block title %}
   Update User
{% endblock %}
		


{% block content %}
    <h1>Update User</h1>
    <form action="", method="post">
    	<label>Username: </label>
    	<input type="text" name="username" value="{{ user.username }}">
    	<label>Email: </label>
    	<input type="email" name="email" value="{{ user.email }}">
    	<label>Password: </label>
    	<input type="password" name="password" value="{{ user.password }}">
    	<input type="submit" value="Update">
    	
    </form>
{% endblock %}
		